* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #24292f;
}

table, th, td {
    border: 1px solid #d0d7de;
    border-collapse: collapse;
    text-align: left;
    border-radius: 10px;
    margin-top: 10%;
}

table {
    width: 60vw;
    border-radius: 5px;
}

th {
    padding: 20px;
    background-color: #f6f8fa;
}

td {
    padding: 10px 20px;   
}

td:hover {
    background-color: #f6f8fa;
}

td i {
    padding-right: 20px;
}

td a {
    color: #24292f;
    text-decoration: none;
}

td a:hover {
    color: rgb(36, 149, 255);
    text-decoration: underline;
}
